.padding-class {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
}

@media only screen and (max-width: 550px) {
  .padding-class {
    padding-left: 0px;
    padding-right: 0px;
  }
}
