.Resume {
  /* height: 100vh; */
}

.resumeHeading {
  color: #052d38;
  font-weight: 900;
  font-size: 45px;
}

.hStyle {
  color: #052d38;
  font-weight: 600;
}

.box {
  border-radius: 10px;
  min-height: 200px;
  max-width: 500px;
  margin: auto;
  padding: 5px 10px;
  border: solid 2px #019fb6;
  text-align: center;
}

.content-item h5 {
  color: #888;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.content-item h3 {
  font-size: 25px;
  line-height: 1;
  font-weight: 700;
  /* text-transform: uppercase; */
  margin-bottom: 20px;
}

.content-item h3 span {
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  /* text-transform: uppercase; */
}
.content-item h4 {
  font-size: 20px;
  margin: 0;
  line-height: 1;
  margin-bottom: 0px;
}

.content-item p {
  color: #888;
  font-size: 20px;
}

@media only screen and (max-width: 990px) {
  .resumeHeading {
    font-size: 30px;
  }
  .content-item p,
  .content-item h4,
  .content-item h5 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 550px) {
  .resumeHeading {
    font-size: 30px;
  }
  .content-item p,
  .content-item h4,
  .content-item h3 span,
  .content-item h5 {
    font-size: 14px;
  }

  .content-item h3 {
    font-size: 18px;
  }
}
